body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.btn-lg {
  width: 300px;
  margin-top: 7px;
  transition: 0.8s opacity;
}

.btn-lg:hover {
  background-color: hsl(158, 38%, 20%);
  opacity: 90%;
}

h1 {
  font-weight: bold;
  color: darkgreen;
  margin-top: 80px;
}

.group-list-item {
  list-style: none;
}

.col-md-auto {
  background-color: white;
}

.list-group {
  margin-top: 200px;
}
